<ion-view view-title="Comparte">
  <ion-content>

	<div class="row row-bottom tcenter height30">
		<div class="col"><i class="icon ion-checkmark-circled"></i></div>
	</div>
	<div class="row row-bottom tcenter">
		<div class="col"><h2>{{data.campaignName}}</h2></div>
	</div>

	<div class="row tcenter height20">
		<div class="col"><h3>http://goo.gl/omkL24</h3></div>
	</div>


	<div class="row row-bottom tcenter">
		<div class="col"><h4>Compartelo en tus redes</h4></div>
	</div>
	<div class="row row-top share-networks height30">
		<div class="col">
			<i class="icon ion-social-facebook"></i>
		</div>
		<div class="col">
			<i class="icon ion-social-twitter"></i>
		</div>
		<div class="col">
			<i class="icon ion-social-googleplus"></i>
		</div>
		<div class="col">
			<i class="icon ion-social-whatsapp"></i>
		</div>
	</div>

  </ion-content>
</ion-view>
